$green: rgb(117, 192, 71);
$yellow: rgb(250, 224, 0);
$light-red: rgb(242, 108, 79);
$red: red;
$dark: #000000;
$dark-50: rgba($dark, 0.5);
$dark-10: rgba($dark, 0.1);
$grey: rgb(183,183,183);
$white: #ffffff;